* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
::selection {
  background: #329fec;
  color: #FFFFFF;
}
.container{
  width: 1170px;
}
@media only screen and (max-width: 1200px){
  .container{
    max-width: 960px;
  }
}
@media only screen and (max-width: 1000px) {
  .container{
    max-width: 720px;
  }
}
@media only screen and (max-width: 800px) {
  .container{
    max-width: 540px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}

.row{
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #868e96;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;