@import 'globals';

.home{
  background-image: url(../img/index.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
header{
  z-index: 999;
  .topHeader{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    @media (min-width: 1000px){
      &{
        height: 127px;
      }
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .headerLeft{
        display: flex;
      }
      nav{
        display: none;
        align-items: center;
        height: 100%;
        @media (min-width: 1000px){
            display: flex;
        }
        .socialIcons{ 
          display: flex;
          gap: 30px;
          .socialIcon{
            width: 12px;
            height: 12px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          
        }
      }
    }
    .hamburger{
      display: flex;
      flex-direction: column;
      gap: 2px;
      @media (min-width: 1000px){
        display: none;
      }
      .bar{
        width: 15px;
        height: 2px;
        background-color: black;
      }
    }
  }
  .bottomHeader{
    display: none;
    align-items: center;
    justify-content: center;
    height: 82px;
    background: #f3f7f9;
    @media (min-width: 1000px){
        display: flex;
        }
    .container{
      display: none;
      align-items: center;
      justify-content: space-between;
      @media (min-width: 1000px){
          display: flex;
          }
      nav{
        ul{
          display: flex;
          .active{
            background: linear-gradient(to right, #4867c0, #329fec);
            a{
              color: #fff;
            }
          }
          li{
            margin-right: 26px;
            &:hover{
              background: linear-gradient(to right, #4867c0, #329fec);
            }
            &:hover a{
              color: #fff;
            }
            a{
              display: block;
              position: relative;
              height: 100%;
              line-height: 82px;
              font-size: 16px;
              font-weight: 500;
              color: #4c4c4c;
              padding-left: 11px;
              padding-right: 8px;
              z-index: 1;
            }
          }
        }
      }
      .headerRight{
        display: flex;
        align-items: center;
        gap: 40px;
        .searchDiv{
          width: 20px;
          height: 20px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.blueButton{
  width: 205px;
  height: 52px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 5px;
  background: linear-gradient(to right, #4867c0, #329fec);
  border: none;
  a{
    color: $white;
  }
}

.logoDiv{
  display: flex;
  align-items: center;
  .logoimg{
    height: 60px;
    display: flex;
    align-items: center;
    width: 40px;
    @media (min-width: 1000px){
      &{
        width: 60px;
      }
    }
    img{
      width: 100%;
      height: auto;
    }
  }
  .logoText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 13px;
    .blueBig{
      line-height: 0.94;
      color: $blue;
      font-size: 13px;
      font-weight: 500;
      text-align: left;
      @media (min-width: 576px){
        &{
          font-size: 24px;
        }
      }
      @media (min-width: 1000px){
        &{
          font-size: 34px;
        }
      }
    }
    .logoSub{
      font-weight: 500;
      color: $dark;
      margin-top: 5px;
      font-size: 9px;
      @media (min-width: 576px){
        &{
          font-size: 12px;
        }
      }
    }
  }
}